@model FinalAssessment.Models.ProductCategoryViewModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<h1>Products</h1>

<p>
    <a class="buttons" asp-action="Create">Create New</a>
</p>

<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        <select asp-for="ProductCategory" asp-items="Model.Catgories">
            <option value="">All</option>
        </select>

        Product Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a class="buttons" asp-action="Edit" asp-route-id="@item.Pid">Edit</a> 
                    <a class="buttons" asp-action="Details" asp-route-id="@item.Pid">Details</a> 
                    <a class="buttons" asp-action="Delete" asp-route-id="@item.Pid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
